doctype html
html
  head
    title dynDNSv6
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,600,300")
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/skeleton.css")
    link(rel="stylesheet" href="/css/font-awesome.css")
    link(rel="stylesheet" href="/css/custom.css")
  body
    .container
      nav.navbar
        .container
          ul.navbar-list
            li.navbar-item
              a.navbar-link(href="/") Status
            li.navbar-item
              a.navbar-link(href="/devices") Devices
            li.navbar-item
              a.navbar-link(href="/config") Config
      - if(errors && errors.length > 0)
        .alert= errors
      block content
