/* --- Navbar --- */

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: white;
  z-index: 99;
  /*border-top: 1px solid #eee;*/
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

/* --- Custom Utility Classes --- */

.u-inline-form {
  display: inline;
}

.u-margin-right {
  margin-right: 1rem;
}

/* --- Config Page --- */

.config-section {
  margin-top: 20px;
}

/* --- Alerts --- */
.alert {
  background: #33C3F0;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  margin-bottom: 20px;
}